<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrationControllerServlet</servlet-name>
        <servlet-class>pickabook.controller.RegistrationControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControllerServlet</servlet-name>
        <servlet-class>pickabook.controller.LoginControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminControllerServlet</servlet-name>
        <servlet-class>pickabook.controller.AdminControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerControllerServlet</servlet-name>
        <servlet-class>pickabook.controller.CustomerControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookControllerServlet</servlet-name>
        <servlet-class>pickabook.controller.BookIdControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryControllerServlet</servlet-name>
        <servlet-class>pickabook.controller.AddCategoryControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookControllerServlet1</servlet-name>
        <servlet-class>pickabook.controller.BookIdControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewBookControllerServlet</servlet-name>
        <servlet-class>pickabook.controller.AddNewBookControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookIdControllerServlet</servlet-name>
        <servlet-class>pickabook.controller.BookIdControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBooksControllerServlet</servlet-name>
        <servlet-class>pickabook.controller.AddNewBookControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBooksControllerServlet</servlet-name>
        <servlet-class>pickabook.controller.GetBooksControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBookImageControllerServlet</servlet-name>
        <servlet-class>pickabook.controller.GetBookImageControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookControllerServlet</servlet-name>
        <servlet-class>pickabook.controller.EditBookControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookControllerServlet</servlet-name>
        <servlet-class>pickabook.controller.DeleteBookControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategoryControllerServlet</servlet-name>
        <servlet-class>pickabook.controller.EditCategoryControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryControllerServlet</servlet-name>
        <servlet-class>pickabook.controller.DeleteCategoryControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmLoginControllerServlet</servlet-name>
        <servlet-class>pickabook.controller.ConfirmLoginControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartControllerServlet</servlet-name>
        <servlet-class>pickabook.controller.AddToCartControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartControllerServlet</servlet-name>
        <servlet-class>pickabook.controller.UpdateCartControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutControllerServlet</servlet-name>
        <servlet-class>pickabook.controller.LogOutControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserDetialsControllerServlet</servlet-name>
        <servlet-class>pickabook.controller.GetUserDetailsControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserDetailsControllerServlet</servlet-name>
        <servlet-class>pickabook.controller.GetUserDetailsControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderControllerServlet</servlet-name>
        <servlet-class>pickabook.controller.OrderControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationControllerServlet</servlet-name>
        <url-pattern>/RegistrationControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControllerServlet</servlet-name>
        <url-pattern>/LoginControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminControllerServlet</servlet-name>
        <url-pattern>/AdminControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerControllerServlet</servlet-name>
        <url-pattern>/CustomerControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookControllerServlet</servlet-name>
        <url-pattern>/AddBookControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryControllerServlet</servlet-name>
        <url-pattern>/AddCategoryControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookControllerServlet1</servlet-name>
        <url-pattern>/AddBookControllerServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewBookControllerServlet</servlet-name>
        <url-pattern>/AddNewBookControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookIdControllerServlet</servlet-name>
        <url-pattern>/BookIdControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBooksControllerServlet</servlet-name>
        <url-pattern>/AddBooksControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBooksControllerServlet</servlet-name>
        <url-pattern>/GetBooksControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBookImageControllerServlet</servlet-name>
        <url-pattern>/GetBookImageControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBookControllerServlet</servlet-name>
        <url-pattern>/EditBookControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookControllerServlet</servlet-name>
        <url-pattern>/DeleteBookControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategoryControllerServlet</servlet-name>
        <url-pattern>/EditCategoryControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryControllerServlet</servlet-name>
        <url-pattern>/DeleteCategoryControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmLoginControllerServlet</servlet-name>
        <url-pattern>/ConfirmLoginControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartControllerServlet</servlet-name>
        <url-pattern>/AddToCartControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartControllerServlet</servlet-name>
        <url-pattern>/UpdateCartControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutControllerServlet</servlet-name>
        <url-pattern>/LogOutControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserDetialsControllerServlet</servlet-name>
        <url-pattern>/GetUserDetialsControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserDetailsControllerServlet</servlet-name>
        <url-pattern>/GetUserDetailsControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderControllerServlet</servlet-name>
        <url-pattern>/OrderControllerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
